.container{
    background-color: rgb(169, 184, 236);
    justify-content: center;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card img{
    user-select: none;
}

.card{
    background-color: white;
    box-shadow: 0 8px 8px #888888;
    border-radius: 5px;
    display: flex;
    cursor: default;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    text-align: center;
    height: fit-content;
    max-width: 180px;
    padding: 10px;
}

.card h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 4px;
    font-size: 17px;
}

.card p{
    color: grey;
    padding: 0px 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}